@media only screen and (max-width: 1999px){
  html, body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px){
  html, body {
    font-size: 12px;
  }

  *::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  h1 {
    font-size: 4em;
  }

  .sidebar {
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    padding: 25px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #edf0f0;
  }

  .sidebar .sidebar-top-content {
    padding: 0;
    width: auto;
  }

  .sidebar .sidebar-top-content .logo img {
    width: 5em;
  }

  .menu-btn {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .menu-btn span {
    position: relative;
  }

  .menu-btn.active span {
    background-color: transparent;
  }

  .menu-btn.active span:before,
  .menu-btn.active span:after {
    top: 0;
  }

  .menu-btn.active span:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }

  .menu-btn.active span:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    display: inline-block;
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--primary-color);
  }

  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    position: absolute;
    left: 0;
  }

  .menu-btn span:before {
    top: -8px;
  }

  .menu-btn span:after {
    top: 8px;
  }

  .sidebar .menu {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #edf0f0;
  }

  .sidebar .menu,
  .sidebar .social {
    display: none;
  }

  .main {
    background-image: url(../img/texture.jpg);
  }

  .scroll-btn {
    display: none;
  }

  section {
    padding-left: 0;
    padding-top: 100px;
    flex-direction: column !important;
    min-height: auto;
  }

  section:before,
  section:after {
    left: 25px;
  }

  section .content {
    width: 100% !important;
    padding: 50px 25px;
  }

  section .content:nth-of-type(n+2) {
    padding-top: 0;
  }

  section .text-bg {
    font-size: 7.5em;
  }

  section#work .portfolio {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 575px){
  section#work .portfolio {
    grid-template-columns: 1fr;
  }
}

//fix for iPhone
@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}
