.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0,0,0, 0.025);
}

.sidebar:after {
  content: "";
  top: 50px;
  right: 0;
  background-color: #ddd;
  position: absolute;
  width: 3px;
  border-radius: 10px;
  height: calc(100vh - 100px);
}

.sidebar .sidebar-top-content,
.sidebar .menu {
  width: 100%;
}

.sidebar .sidebar-top-content {
  padding-top: 50px;
  padding-bottom: 100px;
}

.sidebar .sidebar-top-content .logo img {
  width: 10em;
  margin-bottom: 15px;
}

.sidebar .sidebar-top-content p {
  font-size: .8em;
}

.sidebar .menu:before,
.sidebar .menu:after {
  font-size: 1rem;
  font-weight: 700;
  display: block;
  opacity: .5;
  letter-spacing: 0;
  padding: 15px 0 15px 75px;
  text-align: left;
}

.sidebar .menu:before {
  content: "{";
}

.sidebar .menu:after {
  content: "}";
}

.sidebar .menu ul li {
  list-style: none;
}

.sidebar .menu ul li a {
  font-family: var(--secondary-font);
  position: relative;
  display: block;
  padding: 15px 75px;
  text-align: left;
  font-weight: 400;
  color: #8d8d8d;
  transition: .24s cubic-bezier(.075,.82,.165,1);
  -webkit-transition: .24s cubic-bezier(.075,.82,.165,1);
  -moz-transition: .24s cubic-bezier(.075,.82,.165,1);
  -o-transition: .24s cubic-bezier(.075,.82,.165,1);
}

.sidebar .menu ul li a.active {
  color: var(--secondary-color);
}

.sidebar .menu ul li:nth-child(n+2) a:before {
  content: "";
  position: absolute;
  bottom: calc(100% - 10px);
  left: 75px;
  width: 1px;
  height: calc(100% - 30px);
  background-color: #ddd;
}

.sidebar .menu ul li a span {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 700;
  display: block;
  opacity: .5;
  padding: 15px 25px 15px 15px;
  min-width: 50px;
  transition: .24s cubic-bezier(.075,.82,.165,1);
  -webkit-transition: .24s cubic-bezier(.075,.82,.165,1);
  -moz-transition: .24s cubic-bezier(.075,.82,.165,1);
  -o-transition: .24s cubic-bezier(.075,.82,.165,1);
}

.sidebar .menu ul li a:hover {
  color: var(--secondary-color);
}

.sidebar .menu ul li a.active span,
.sidebar .menu ul li a:hover span {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar .social {
  padding-top: 100px;
}

.sidebar .social a {
  display: inline-block;
  padding: 5px;
}

.sidebar .social a:hover {
  filter: invert(37%) sepia(30%) saturate(1740%) hue-rotate(213deg) brightness(86%) contrast(104%);
}