.sidebar {
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  background: var(--purple);
  background: -webkit-linear-gradient(left,var(--purple),var(--dark-blue));
  background: -o-linear-gradient(right,var(--purple),var(--dark-blue));
  background: -moz-linear-gradient(right,var(--purple),var(--dark-blue));
  background: linear-gradient(to right,var(--purple),var(--dark-blue));
}

.sidebar .menu {
  width: 100%;
}

.sidebar .sidebar-top-content {
  padding-right: 100px;
}

.sidebar .sidebar-top-content .logo img {
  width: 8em;
  height: 3.85em;
  margin-bottom: 5px;
  filter: grayscale(10%);
}

.sidebar .sidebar-top-content p {
  font-size: .8em;
}

.sidebar .menu ul {
  display: flex;
  justify-content: flex-end;
}

.sidebar .menu ul li {
  list-style: none;
}

.sidebar .menu ul li a {
  font-family: var(--secondary-font);
  position: relative;
  display: block;
  padding: 15px 75px;
  text-align: left;
  font-weight: 400;
  color: #8d8d8d;
  transition: .24s cubic-bezier(.075,.82,.165,1);
  -webkit-transition: .24s cubic-bezier(.075,.82,.165,1);
  -moz-transition: .24s cubic-bezier(.075,.82,.165,1);
  -o-transition: .24s cubic-bezier(.075,.82,.165,1);
}

.sidebar .menu ul li a.active {
  color: var(--secondary-color);
}

.sidebar .menu ul li a span {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 700;
  display: block;
  opacity: .5;
  padding: 15px 25px 15px 15px;
  min-width: 50px;
  transition: .24s cubic-bezier(.075,.82,.165,1);
  -webkit-transition: .24s cubic-bezier(.075,.82,.165,1);
  -moz-transition: .24s cubic-bezier(.075,.82,.165,1);
  -o-transition: .24s cubic-bezier(.075,.82,.165,1);
}

.sidebar .menu ul li a:hover {
  color: var(--secondary-color);
}

.sidebar .menu ul li a.active span,
.sidebar .menu ul li a:hover span {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar .social {
  padding-left: 50px;
  display: flex;
  gap: 15px;
}

.sidebar .social a {
  display: inline-block;
  padding: 5px;
  transition: .24s cubic-bezier(.075,.82,.165,1);
  -webkit-transition: .24s cubic-bezier(.075,.82,.165,1);
  -moz-transition: .24s cubic-bezier(.075,.82,.165,1);
  -o-transition: .24s cubic-bezier(.075,.82,.165,1);
}

.sidebar .social a:hover {
  filter: brightness(200%);
}

.sidebar .social a img {
  width: 30px;
  height: 30px;
}