:root {
  --primary-color: #e4e4e4;
  --secondary-color: #f6f6f6;
  --alt-color: #ffbf00;

  --dark-blue: #17335A;
  --purple: #614285;

  --default-font: "Quicksand";
  --secondary-font: "Staatliches";
  --alt-font: "Combo";
}